.org {
    background-color: #f3b677;
}

.org:hover {
    background-color: #f5d1ac;
}

.label{
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;

}
.block{
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    width: 300px;
}
.box{
    padding: 40px;
    margin: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid lightgrey;

}

h3{
    text-align: center;
    margin: 50px;
}
.v-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.item{
    margin-top: 20px;
    margin-bottom: 20px;
}

.go-back{
    display: flex;
    margin: 20px;
}
