.header {
    width: 100%;
    height: 80px;
    background-color: rgba(255, 128, 0, 0.62);
    color: white;
    padding: 10px;
}

.org {
    background-color: #f3b677;
}

.org:hover {
    background-color: #f5d1ac;
}


.pink {
    background-color: deeppink;
    color: white;
}

.pink:hover {
    background-color: rgba(255, 20, 147, 0.68);
    color: white;
}

.search-box {
    width: 80%;
    margin-left: 130px;

}

.box {
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.date {
    font-size: 22px;
    font-weight: bold;
}

.name {
    font-weight: bold;
}

.details {

}

.cancel {
    background-color: red;
    border: red 10px;
    border-radius: 10px;
    color: white;
}

.cancel:hover {
    background-color: #f33636;
}

.image-back {
    width: 30px;
    cursor: pointer;
}

.my-header {
    font-weight: bold;
}

.table-container {
    margin: auto;
    width: 70%;
    border: 1px solid lightgrey;
    padding: 10px;

}

.span-style {
    font-weight: bold;
    font-size: 20px;
    margin-top: 70px;
    margin-left: 70px;
    margin-bottom: 30px;

}

.edit {
    background-color: rgba(31, 29, 29, 0.66);
    border: rgba(31, 29, 29, 0.66) 10px;
    border-radius: 10px;
    color: white;
}

.edit:hover {
    background-color: rgba(119, 113, 113, 0.66);
}

.view {
    background-color: rgb(32, 157, 220);
    border: rgb(32, 157, 220) 10px;
    border-radius: 10px;
    color: white;
}

.view:hover {
    background-color: rgb(87, 197, 253);
}


.organize-btn-container{
    padding: 40px;
    margin: auto;
    width: 30%;
}
