h2{
    color: red;
    text-align: center;
    margin: 30px;
}

.p-container{
    width: 80%;
    margin: auto;
    background-color: rgba(248, 198, 198, 0.25);
    padding: 40px;
    border-radius: 20px;

}
body{

}
.go-back{
    margin: 50px;
    cursor: pointer;
}
