.header{
    width: 100%;
    height: 80px;
    background-color: #ff8000;
    color: white;
    padding: 10px;
}

.org{
    background-color: #f3b677;
}

.org:hover{
    background-color: #f5d1ac;
}

.search-box{
    width: 80%;
    margin-left: 130px;

}
.box{
background-color: lightgrey;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
li{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.date{
font-size: 22px;
    font-weight: bold;
}
.name{
    font-weight: bold;
}
.details{

}
.cancel{
    background-color: red;
    border: red 10px;
    border-radius: 10px;
    color:white;
}

.cancel:hover{
    background-color: #f33636;
}
.image-back{
    width: 30px;
    cursor: pointer;
}
.my-header{
    font-weight: bold;
}

.table-container{
    margin: auto;
    width: 80%;
    border: 1px solid lightgrey;
    padding: 10px;

}
.event-box{
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
h4{
    font-size: 20px;
    font-weight: lighter;
    margin: 10px;
}


.btn-container{
    padding: 40px;
    margin: auto;
    width: 30%;
}

.go-back{
    display: flex;
    margin: 20px;
}
span{
    font-weight: lighter;
    margin-left: 20px;
}
